$violet: #6747c7;
$lightViolet: #a390dd;
$orange: #ff4546;
$veryLightViolet: #e0daf3;
$footer-bg: #91879b;
$grey: #d1d0d4;
$footer-header: #53396d;
$footer-body: #d3d2e7;
$tr-odd: #d8d8d8;
$tr-even: #b2b2b2;
$tr-header: #202020;
